[package]
name = "libp2p-identify"
edition = "2018"
description = "Nodes identifcation protocol for libp2p"
version = "0.13.2"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
bytes = "0.4"
futures = "0.1"
libp2p-core = { version = "0.13.0", path = "../../core" }
libp2p-swarm = { version = "0.3.0", path = "../../swarm" }
log = "0.4.1"
multiaddr = { package = "parity-multiaddr", version = "0.6.0", path = "../../misc/multiaddr" }
protobuf = "=2.8.1" # note: see https://github.com/libp2p/rust-libp2p/issues/1363
smallvec = "0.6"
tokio-codec = "0.1"
tokio-io = "0.1.0"
wasm-timer = "0.1"
unsigned-varint = { version = "0.2.1", features = ["codec"] }

[dev-dependencies]
libp2p-mplex = { version = "0.13.0", path = "../../muxers/mplex" }
libp2p-secio = { version = "0.13.0", path = "../../protocols/secio" }
libp2p-tcp = { version = "0.13.0", path = "../../transports/tcp" }
rand = "0.6"
tokio = "0.1"
