[package]
name = "libp2p-identify"
edition = "2021"
rust-version = "1.62.0"
description = "Nodes identifcation protocol for libp2p"
version = "0.42.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
asynchronous-codec = "0.6"
futures = "0.3.27"
futures-timer = "3.0.2"
libp2p-core = { version = "0.39.0", path = "../../core" }
libp2p-swarm = { version = "0.42.0", path = "../../swarm" }
libp2p-identity = { version = "0.1.0", path = "../../identity" }
log = "0.4.1"
lru = "0.9.0"
quick-protobuf-codec = { version = "0.1", path = "../../misc/quick-protobuf-codec" }
quick-protobuf = "0.8"
smallvec = "1.6.1"
thiserror = "1.0"
void = "1.0"
either = "1.8.0"

[dev-dependencies]
async-std = { version = "1.6.2", features = ["attributes"] }
env_logger = "0.10"
libp2p-mplex = { path = "../../muxers/mplex" }
libp2p-yamux = { path = "../../muxers/yamux" }
libp2p-noise = { path = "../../transports/noise" }
libp2p-swarm = { path = "../../swarm", features = ["async-std"] }
libp2p-tcp = { path = "../../transports/tcp", features = ["async-io"] }

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]
