[package]
name = "libp2p-identify"
edition = "2018"
description = "Nodes identifcation protocol for libp2p"
version = "0.19.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
futures = "0.3.1"
libp2p-core = { version = "0.19.0", path = "../../core" }
libp2p-swarm = { version = "0.19.0", path = "../../swarm" }
log = "0.4.1"
prost = "0.6.1"
smallvec = "1.0"
wasm-timer = "0.2"

[dev-dependencies]
async-std = "~1.5.0"
libp2p-mplex = { path = "../../muxers/mplex" }
libp2p-secio = { path = "../../protocols/secio" }
libp2p-tcp = { path = "../../transports/tcp", features = ["async-std"] }

[build-dependencies]
prost-build = "0.6"

