[package]
name = "libp2p-noise"
edition = "2021"
rust-version = "1.56.1"
description = "Cryptographic handshake protocol using the noise framework."
version = "0.40.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"

[dependencies]
bytes = "1"
curve25519-dalek = "3.0.0"
futures = "0.3.1"
lazy_static = "1.2"
libp2p-core = { version = "0.37.0", path = "../../core" }
log = "0.4"
prost = "0.11"
rand = "0.8.3"
sha2 = "0.10.0"
static_assertions = "1"
x25519-dalek = "1.1.0"
zeroize = "1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
snow = { version = "0.9.0", features = ["ring-resolver"], default-features = false }

[target.'cfg(target_arch = "wasm32")'.dependencies]
snow = { version = "0.9.0", features = ["default-resolver"], default-features = false }

[dev-dependencies]
async-io = "1.2.0"
env_logger = "0.9.0"
libp2p = { path = "../..", features = ["full"] }
quickcheck = { package = "quickcheck-ext", path = "../../misc/quickcheck-ext" }
libsodium-sys-stable = { version = "1.19.22", features = ["fetch-latest"] }
ed25519-compact = "2.0.2"

[build-dependencies]
prost-build = "0.11"
