[package]
name = "libp2p-noise"
edition = "2021"
rust-version = "1.60.0"
description = "Cryptographic handshake protocol using the noise framework."
version = "0.41.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"

[dependencies]
bytes = "1"
curve25519-dalek = "3.0.0"
futures = "0.3.1"
libp2p-core = { version = "0.38.0", path = "../../core" }
log = "0.4"
once_cell = "1.16.0"
prost = "0.11"
rand = "0.8.3"
sha2 = "0.10.0"
static_assertions = "1"
thiserror = "1.0.37"
x25519-dalek = "1.1.0"
zeroize = "1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
snow = { version = "0.9.0", features = ["ring-resolver"], default-features = false }

[target.'cfg(target_arch = "wasm32")'.dependencies]
snow = { version = "0.9.0", features = ["default-resolver"], default-features = false }

[dev-dependencies]
async-io = "1.2.0"
ed25519-compact = "1.0.11"
env_logger = "0.10.0"
libp2p-tcp = { path = "../tcp", features = ["async-io"] }
libsodium-sys-stable = { version = "1.19.22", features = ["fetch-latest"] }
quickcheck = { package = "quickcheck-ext", path = "../../misc/quickcheck-ext" }

[build-dependencies]
prost-build = "0.11"

# Passing arguments to the docsrs builder in order to properly document cfg's. 
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]
