[package]
name = "libp2p-noise"
description = "Cryptographic handshake protocol using the noise framework."
version = "0.33.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
edition = "2018"

[dependencies]
bytes = "1"
curve25519-dalek = "3.0.0"
futures = "0.3.1"
lazy_static = "1.2"
libp2p-core = { version = "0.30.0", path = "../../core", default-features = false  }
log = "0.4"
prost = "0.8"
rand = "0.8.3"
sha2 = "0.9.1"
static_assertions = "1"
x25519-dalek = "1.1.0"
zeroize = "1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
snow = { version = "0.8.0", features = ["ring-resolver"], default-features = false }

[target.'cfg(target_arch = "wasm32")'.dependencies]
snow = { version = "0.8.0", features = ["default-resolver"], default-features = false }

[dev-dependencies]
async-io = "1.2.0"
env_logger = "0.9.0"
libp2p-tcp = { path = "../../transports/tcp" }
quickcheck = "0.9.0"
sodiumoxide = "0.2.5"

[build-dependencies]
prost-build = "0.8"
