[package]
name = "libp2p-noise"
edition = "2021"
rust-version = { workspace = true }
description = "Cryptographic handshake protocol using the noise framework."
version = "0.45.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"

[dependencies]
asynchronous-codec = { workspace = true }
bytes = "1"
curve25519-dalek = "4.1.2"
futures = { workspace = true }
libp2p-core = { workspace = true }
libp2p-identity = { workspace = true, features = ["ed25519"] }
multiaddr = { workspace = true }
multihash = { workspace = true }
once_cell = "1.19.0"
quick-protobuf = "0.8"
rand = "0.8.3"
sha2 = "0.10.8"
static_assertions = "1"
thiserror = { workspace = true }
tracing = { workspace = true }
x25519-dalek = "2"
zeroize = "1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
snow = { version = "0.9.6", features = ["ring-resolver"], default-features = false }

[target.'cfg(target_arch = "wasm32")'.dependencies]
snow = { version = "0.9.5", features = ["default-resolver"], default-features = false }

[dev-dependencies]
futures_ringbuf = "0.4.0"
quickcheck = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
libp2p-identity = { workspace = true, features = ["rand"] }

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true

[lints]
workspace = true
