[package]
name = "quick-protobuf-codec"
edition = "2021"
rust-version = { workspace = true }
description = "Asynchronous de-/encoding of Protobuf structs using asynchronous-codec, unsigned-varint and quick-protobuf."
version = "0.2.0"
authors = ["Max Inden <mail@max-inden.de>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["networking"]
categories = ["asynchronous"]

[dependencies]
asynchronous-codec = { version = "0.6" }
bytes = { version = "1" }
thiserror = "1.0"
unsigned-varint = { version = "0.8", features = ["asynchronous_codec"] }
quick-protobuf = "0.8"

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]

[lints]
workspace = true
