[workspace]
members = [
    "libp2p-peerstore",
    "libp2p-ping",
    "libp2p-secio",
    "libp2p-swarm",
    "libp2p-tcp-transport",
    "multistream-select",
    "datastore",
    "futures-mutex",
    "rust-multiaddr",
    "rw-stream-sink",
    "circular-buffer",
    "varint-rs",
    "multiplex-rs",
    "example",
]

[replace]
# TODO: Update ring and solve conflicts
"ring:0.12.1" = { git = "https://github.com/briansmith/ring", rev = "3a14ef619559f7d4b69e2286d49c833409eef34a" }
# Using a local improved version of multiaddr for now
"multiaddr:0.2.0" = { path = "./rust-multiaddr" }
