[package]
name = "libp2p"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"

[features]
default = ["secio-rsa", "secio-secp256k1", "libp2p-websocket"]
secio-rsa = ["libp2p-secio/rsa"]
secio-secp256k1 = ["libp2p-secio/secp256k1"]

[dependencies]
bytes = "0.4"
futures = "0.1"
multiaddr = { path = "./misc/multiaddr" }
multihash = { path = "./misc/multihash" }
libp2p-mplex = { path = "./muxers/mplex" }
libp2p-identify = { path = "./protocols/identify" }
libp2p-kad = { path = "./protocols/kad" }
libp2p-floodsub = { path = "./protocols/floodsub" }
libp2p-peerstore = { path = "./stores/peerstore" }
libp2p-ping = { path = "./protocols/ping" }
libp2p-plaintext = { path = "./protocols/plaintext" }
libp2p-ratelimit = { path = "./transports/ratelimit" }
libp2p-relay = { path = "./transports/relay" }
libp2p-core = { path = "./core" }
libp2p-core-derive = { path = "./misc/core-derive" }
libp2p-secio = { path = "./protocols/secio", default-features = false }
libp2p-transport-timeout = { path = "./transports/timeout" }
libp2p-uds = { path = "./transports/uds" }
libp2p-websocket = { path = "./transports/websocket", optional = true }
libp2p-yamux = { path = "./muxers/yamux" }
tokio-codec = "0.1"
tokio-executor = "0.1"
tokio-io = "0.1"

[target.'cfg(not(target_os = "emscripten"))'.dependencies]
libp2p-dns = { path = "./transports/dns" }
libp2p-mdns = { path = "./misc/mdns" }
libp2p-tcp-transport = { path = "./transports/tcp" }

[target.'cfg(target_os = "emscripten")'.dependencies]
stdweb = { version = "0.1.3", default-features = false }

[dev-dependencies]
env_logger = "0.6.0"
rand = "0.6"
tokio = "0.1"
tokio-stdin-stdout = "0.1"

[workspace]
members = [
    "core",
    "misc/core-derive",
    "misc/mdns",
    "misc/multiaddr",
    "misc/multihash",
    "misc/multistream-select",
    "misc/peer-id-generator",
    "misc/rw-stream-sink",
    "muxers/mplex",
    "muxers/yamux",
    "protocols/floodsub",
    "protocols/identify",
    "protocols/kad",
    "protocols/observed",
    "protocols/ping",
    "protocols/plaintext",
    "protocols/secio",
    "stores/datastore",
    "stores/peerstore",
    "transports/dns",
    "transports/ratelimit",
    "transports/relay",
    "transports/tcp",
    "transports/timeout",
    "transports/uds",
    "transports/websocket"
]
