[workspace]
members = [
    "core",
    "examples/chat-example",
    "examples/dcutr",
    "examples/distributed-key-value-store",
    "examples/file-sharing",
    "examples/identify",
    "examples/ipfs-kad",
    "examples/ipfs-private",
    "examples/ping-example",
    "examples/rendezvous",
    "misc/metrics",
    "misc/multistream-select",
    "misc/rw-stream-sink",
    "misc/keygen",
    "misc/quick-protobuf-codec",
    "misc/quickcheck-ext",
    "muxers/mplex",
    "muxers/yamux",
    "muxers/test-harness",
    "protocols/dcutr",
    "protocols/autonat",
    "protocols/floodsub",
    "protocols/gossipsub",
    "protocols/rendezvous",
    "protocols/identify",
    "protocols/kad",
    "protocols/mdns",
    "protocols/ping",
    "protocols/relay",
    "protocols/request-response",
    "swarm",
    "swarm-derive",
    "interop-tests",
    "swarm-test",
    "transports/deflate",
    "transports/dns",
    "transports/noise",
    "transports/tls",
    "transports/plaintext",
    "transports/pnet",
    "transports/quic",
    "transports/tcp",
    "transports/uds",
    "transports/websocket",
    "transports/wasm-ext",
    "transports/webrtc",
    "interop-tests"
]
resolver = "2"
