[package]
name = "fluence-fork-libp2p"
edition = "2018"
description = "Peer-to-peer networking library"
version = "0.34.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[lib]
name = "libp2p"

[features]
default = [
    "deflate",
    "dns",
    "floodsub",
    "identify",
    "kad",
    "gossipsub",
    "mdns",
    "mplex",
    "noise",
    "ping",
    "plaintext",
    "pnet",
    "request-response",
    "secp256k1",
    "tcp-async-std",
    "uds",
    "wasm-ext",
    "websocket",
    "yamux",
]
deflate = ["libp2p-deflate"]
dns = ["libp2p-dns"]
floodsub = ["libp2p-floodsub"]
identify = ["libp2p-identify"]
kad = ["libp2p-kad"]
gossipsub = ["libp2p-gossipsub"]
mdns = ["libp2p-mdns"]
mplex = ["libp2p-mplex"]
noise = ["libp2p-noise"]
ping = ["libp2p-ping"]
plaintext = ["libp2p-plaintext"]
pnet = ["libp2p-pnet"]
request-response = ["libp2p-request-response"]
tcp-async-std = ["libp2p-tcp", "libp2p-tcp/async-std"]
tcp-tokio = ["libp2p-tcp", "libp2p-tcp/tokio"]
uds = ["libp2p-uds"]
wasm-ext = ["libp2p-wasm-ext"]
wasm-ext-websocket = ["wasm-ext", "libp2p-wasm-ext/websocket"]
websocket = ["libp2p-websocket"]
yamux = ["libp2p-yamux"]
secp256k1 = ["libp2p-core/secp256k1"]

[package.metadata.docs.rs]
all-features = true

[dependencies]
atomic = "0.5.0"
bytes = "0.5"
futures = "0.3.1"
lazy_static = "1.2"
libp2p-core = { version = "0.26.1", path = "core", package = "fluence-fork-libp2p-core" }
libp2p-core-derive = { version = "0.21.1", path = "misc/core-derive", package = "fluence-fork-libp2p-core-derive" }
libp2p-floodsub = { version = "0.26.1", path = "protocols/floodsub", optional = true, package = "fluence-fork-libp2p-floodsub" }
libp2p-gossipsub = { version = "0.26.1", path = "./protocols/gossipsub", optional = true, package = "fluence-fork-libp2p-gossipsub" }
libp2p-identify = { version = "0.26.1", path = "protocols/identify", optional = true, package = "fluence-fork-libp2p-identify" }
libp2p-kad = { version = "0.27.0", path = "protocols/kad", optional = true, package = "fluence-fork-libp2p-kad" }
libp2p-mplex = { version = "0.26.1", path = "muxers/mplex", optional = true, package = "fluence-fork-libp2p-mplex" }
libp2p-noise = { version = "0.28.1", path = "protocols/noise", optional = true, package = "fluence-fork-libp2p-noise" }
libp2p-ping = { version = "0.26.1", path = "protocols/ping", optional = true, package = "fluence-fork-libp2p-ping" }
libp2p-plaintext = { version = "0.26.1", path = "protocols/plaintext", optional = true, package = "fluence-fork-libp2p-plaintext" }
libp2p-pnet = { version = "0.20.1", path = "protocols/pnet", optional = true, package = "fluence-fork-libp2p-pnet" }
libp2p-request-response = { version = "0.9.1", path = "protocols/request-response", optional = true, package = "fluence-fork-libp2p-request-response" }
libp2p-swarm = { version = "0.26.1", path = "swarm", package = "fluence-fork-libp2p-swarm" }
libp2p-uds = { version = "0.26.1", path = "transports/uds", optional = true, package = "fluence-fork-libp2p-uds" }
libp2p-wasm-ext = { version = "0.26.1", path = "transports/wasm-ext", optional = true, package = "fluence-fork-libp2p-wasm-ext" }
libp2p-yamux = { version = "0.29.1", path = "muxers/yamux", optional = true, package = "fluence-fork-libp2p-yamux" }
multiaddr = { package = "fluence-fork-parity-multiaddr", version = "0.10.1", path = "misc/multiaddr" }
parking_lot = "0.11.0"
pin-project = "1.0.0"
smallvec = "1.0"
wasm-timer = "0.2.4"

[target.'cfg(not(any(target_os = "emscripten", target_os = "wasi", target_os = "unknown")))'.dependencies]
libp2p-deflate = { package = "fluence-fork-libp2p-deflate", version = "0.26.1", path = "protocols/deflate", optional = true }
libp2p-dns = { package = "fluence-fork-libp2p-dns", version = "0.26.1", path = "transports/dns", optional = true }
libp2p-mdns = { package = "fluence-fork-libp2p-mdns", version = "0.27.0", path = "protocols/mdns", optional = true }
libp2p-tcp = { package = "fluence-fork-libp2p-tcp", version = "0.26.1", path = "transports/tcp", optional = true }
libp2p-websocket = { package = "fluence-fork-libp2p-websocket", version = "0.27.0", path = "transports/websocket", optional = true }

[dev-dependencies]
async-std = "1.6.2"
env_logger = "0.8.1"
tokio = { version = "0.3", features = ["io-util", "io-std", "stream", "macros", "rt", "rt-multi-thread"] }
trust-graph = "0.2.0"

[workspace]
members = [
    "core",
    "misc/core-derive",
    "misc/multiaddr",
    "misc/multistream-select",
    "misc/peer-id-generator",
    "muxers/mplex",
    "muxers/yamux",
    "protocols/deflate",
    "protocols/floodsub",
    "protocols/gossipsub",
    "protocols/identify",
    "protocols/kad",
    "protocols/mdns",
    "protocols/noise",
    "protocols/ping",
    "protocols/plaintext",
    "protocols/pnet",
    "protocols/request-response",
    "protocols/secio",
    "swarm",
    "transports/dns",
    "transports/tcp",
    "transports/uds",
    "transports/websocket",
    "transports/wasm-ext"
]

[[example]]
name = "chat-tokio"
required-features = ["tcp-tokio", "mdns"]

# NOTE: this is required because trust-graph depends on libp2p-core,
#       and patches it to git only in patch section, which apparently isn't
#       visible via dependency mechanics (i.e., not visible HERE)
[patch.crates-io]
libp2p-core = { package = "fluence-fork-libp2p-core", path = "core" }
# required for wasm compilation
# adds saturating_duration_since methods
wasm-timer = { git = "https://github.com/fluencelabs/wasm-timer", branch = "saturating_duration_since" }

[package.metadata.workspaces]
independent = true
