[workspace]
members = [
    "multihash",
    "multistream-select",
    "datastore",
    "example",
    "libp2p-peerstore",
    "libp2p-secio",
    "libp2p-swarm",
    "libp2p-tcp-transport",
    "rw-stream-sink",
]

[replace]
# Ring has a feature merged in master that hasn't been published yet ; remove this after 0.12.2
"ring:0.12.1" = { git = "https://github.com/briansmith/ring" }
