[package]
name = "libp2p"
edition = "2018"
description = "Peer-to-peer networking library"
version = "0.16.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[features]
default = ["secp256k1", "libp2p-websocket"]
secp256k1 = ["libp2p-core/secp256k1", "libp2p-secio/secp256k1"]

[dependencies]
bytes = "0.5"
futures = "0.3.1"
multiaddr = { package = "parity-multiaddr", version = "0.7.2", path = "misc/multiaddr" }
multihash = { package = "parity-multihash", version = "0.2.1", path = "misc/multihash" }
lazy_static = "1.2"
libp2p-mplex = { version = "0.16.0", path = "muxers/mplex" }
libp2p-identify = { version = "0.16.0", path = "protocols/identify" }
libp2p-kad = { version = "0.16.1", path = "protocols/kad" }
libp2p-floodsub = { version = "0.16.0", path = "protocols/floodsub" }
libp2p-gossipsub = { version = "0.16.0", path = "./protocols/gossipsub" }
libp2p-ping = { version = "0.16.0", path = "protocols/ping" }
libp2p-plaintext = { version = "0.16.0", path = "protocols/plaintext" }
libp2p-pnet = { version = "0.16.0", path = "protocols/pnet" }
libp2p-core = { version = "0.16.0", path = "core" }
libp2p-core-derive = { version = "0.16.0", path = "misc/core-derive" }
libp2p-secio = { version = "0.16.1", path = "protocols/secio", default-features = false }
libp2p-swarm = { version = "0.16.1", path = "swarm" }
libp2p-uds = { version = "0.16.0", path = "transports/uds" }
libp2p-wasm-ext = { version = "0.16.1", path = "transports/wasm-ext" }
libp2p-yamux = { version = "0.16.0", path = "muxers/yamux" }
libp2p-noise = { version = "0.16.0", path = "protocols/noise" }
parking_lot = "0.10.0"
pin-project = "0.4.6"
smallvec = "1.0"
wasm-timer = "0.2.4"

[target.'cfg(not(any(target_os = "emscripten", target_os = "unknown")))'.dependencies]
libp2p-deflate = { version = "0.16.0", path = "protocols/deflate" }
libp2p-dns = { version = "0.16.0", path = "transports/dns" }
libp2p-mdns = { version = "0.16.0", path = "protocols/mdns" }
libp2p-tcp = { version = "0.16.0", path = "transports/tcp" }
libp2p-websocket = { version = "0.16.0", path = "transports/websocket", optional = true }

[dev-dependencies]
async-std = "1.0"
env_logger = "0.7.1"

[workspace]
members = [
    "core",
    "misc/core-derive",
    "misc/multiaddr",
    "misc/multihash",
    "misc/multistream-select",
    "misc/peer-id-generator",
    "muxers/mplex",
    "muxers/yamux",
    "protocols/floodsub",
    "protocols/gossipsub",
    "protocols/identify",
    "protocols/kad",
    "protocols/mdns",
    "protocols/noise",
    "protocols/ping",
    "protocols/plaintext",
    "protocols/secio",
    "swarm",
    "transports/dns",
    "transports/tcp",
    "transports/uds",
    "transports/websocket",
    "transports/wasm-ext"
]

