[package]
name = "multistream-select"
description = "Multistream-select negotiation protocol for libp2p"
version = "0.5.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]
edition = "2018"

[dependencies]
bytes = "0.4"
futures = { version = "0.1" }
log = "0.4"
smallvec = "0.6"
tokio-io = "0.1"
unsigned-varint = { version = "0.2.2" }

[dev-dependencies]
tokio = "0.1"
tokio-tcp = "0.1"
quickcheck = "0.8"
rand = "0.6"
