[package]
name = "libp2p-mplex"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"

[dependencies]
bytes = "0.4.5"
fnv = "1.0"
futures = "0.1"
libp2p-core = { path = "../../core" }
log = "0.4"
parking_lot = "0.6"
tokio-codec = "0.1"
tokio-io = "0.1"
unsigned-varint = { version = "0.2", features = ["codec"] }

[dev-dependencies]
libp2p-tcp-transport = { path = "../../transports/tcp" }
tokio-current-thread = "0.1"
