[package]
name = "libp2p-dcutr"
edition = "2021"
rust-version = { workspace = true }
description = "Direct connection upgrade through relay"
version = "0.11.0"
authors = ["Max Inden <mail@max-inden.de>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
asynchronous-codec = { workspace = true }
either = "1.9.0"
futures = "0.3.30"
futures-timer = "3.0"
instant = "0.1.12"
libp2p-core = { workspace = true }
libp2p-swarm = { workspace = true }
libp2p-identity = { workspace = true }
quick-protobuf = "0.8"
quick-protobuf-codec = { workspace = true }
thiserror = "1.0"
tracing = "0.1.37"
void = "1"
lru = "0.12.2"
futures-bounded = { workspace = true }

[dev-dependencies]
async-std = { version = "1.12.0", features = ["attributes"] }
clap = { version = "4.5.2", features = ["derive"] }
libp2p-dns = { workspace = true, features = ["async-std"] }
libp2p-identify = { workspace = true }
libp2p-noise = { workspace = true }
libp2p-ping = { workspace = true }
libp2p-plaintext = { workspace = true }
libp2p-relay = { workspace = true }
libp2p-swarm = { workspace = true, features = ["macros"] }
libp2p-swarm-test = { path = "../../swarm-test" }
libp2p-tcp = { workspace = true, features = ["async-io"] }
libp2p-yamux = { workspace = true }
rand = "0.8"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]

[lints]
workspace = true
