[package]
name = "file-sharing-example"
version = "0.1.0"
edition = "2021"
publish = false
license = "MIT"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
async-std = { version = "1.12", features = ["attributes"] }
clap = { version = "4.3.23", features = ["derive"] }
either = "1.9"
env_logger = "0.10"
futures = "0.3.28"
libp2p = { path = "../../libp2p", features = [
    "async-std",
    "cbor",
    "dns",
    "kad",
    "noise",
    "macros",
    "request-response",
    "tcp",
    "websocket",
    "yamux",
] }
void = "1.0.2"

[lints]
workspace = true