[package]
name = "libp2p-swarm"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]

[dependencies]
bytes = "0.4"
fnv = "1.0"
log = "0.4"
multiaddr = "0.2.0"
multistream-select = { path = "../multistream-select" }
futures = { version = "0.1", features = ["use_std"] }
parking_lot = "0.5.3"
smallvec = "0.5"
tokio-io = "0.1"

[dev-dependencies]
libp2p-ping = { path = "../ping" }
libp2p-tcp-transport = { path = "../tcp-transport" }
multiplex = { path = "../multiplex-rs" }
tokio-core = "0.1"
