[package]
name = "libp2p-gossipsub"
edition = "2018"
version = "0.1.0"
authors = ["Age Manning <Age@AgeManning.com>"]
license = "MIT"

[dependencies]
libp2p-swarm = { path = "../../swarm" }
libp2p-core = { path = "../../core" }
bs58 = "0.2.2"
bytes = "0.4.11"
byteorder = "1.3.1"
fnv = "1.0.6"
futures = "0.1.25"
protobuf = "2.3.0"
rand = "0.6.5"
tokio-codec = "0.1.1"
tokio-io = "0.1.11"
tokio-timer = "0.2.8"
unsigned-varint = "0.2.2"
log = "0.4.6"
sha2 = "0.8.0"
base64 = "0.10.1"
lru = "0.1.17"
smallvec = "1.0.0"

[dev-dependencies]
libp2p = { path = "../../" }
tokio = "0.1"
tokio-stdin-stdout = "0.1"
env_logger = "0.6.0"
