[package]
name = "libp2p-gossipsub"
edition = "2018"
description = "Gossipsub protocol for libp2p"
version = "0.15.0"
authors = ["Age Manning <Age@AgeManning.com>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
libp2p-swarm = { version = "0.5.0", path = "../../swarm" }
libp2p-core = { version = "0.15.0", path = "../../core" }
bytes = "0.5.4"
byteorder = "1.3.2"
fnv = "1.0.6"
futures = "0.3.1"
rand = "0.7.3"
futures_codec = "0.3.4"
wasm-timer = "0.2.4"
unsigned-varint = { version = "0.3.0", features = ["futures-codec"] }
log = "0.4.8"
sha2 = "0.8.1"
base64 = "0.11.0"
lru = "0.4.3"
smallvec = "1.1.0"
prost = "0.6.1"

[dev-dependencies]
async-std = "1.4.0"
env_logger = "0.7.1"
libp2p-plaintext = { version = "0.15.0", path = "../plaintext" }
libp2p-yamux = { version = "0.15.0", path = "../../muxers/yamux" }
quickcheck = "0.9.2"

[build-dependencies]
prost-build = "0.6"
