[package]
name = "libp2p-core"
edition = "2018"
description = "Core traits and structs of libp2p"
version = "0.3.3"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
bs58 = "0.2.0"
bytes = "0.4"
fnv = "1.0"
log = "0.4"
multiaddr = { package = "parity-multiaddr", version = "0.1.0", path = "../misc/multiaddr" }
multihash = { package = "parity-multihash", version = "0.1.0", path = "../misc/multihash" }
multistream-select = { version = "0.3.0", path = "../misc/multistream-select" }
futures = { version = "0.1", features = ["use_std"] }
parking_lot = "0.7"
protobuf = "2.3"
quick-error = "1.2"
rw-stream-sink = { version = "0.1.0", path = "../misc/rw-stream-sink" }
smallvec = "0.6"
tokio-executor = "0.1.4"
tokio-io = "0.1"
tokio-timer = "0.2"
unsigned-varint = "0.2"
void = "1"

[dev-dependencies]
env_logger = "0.6"
libp2p-ping = { version = "0.3.0", path = "../protocols/ping" }
libp2p-tcp = { version = "0.3.0", path = "../transports/tcp" }
libp2p-mplex = { version = "0.3.0", path = "../muxers/mplex" }
libp2p-secio = { version = "0.3.0", path = "../protocols/secio" }
rand = "0.6"
tokio = "0.1"
tokio-codec = "0.1"
tokio-timer = "0.2"
assert_matches = "1.3"
tokio-mock-task = "0.1"
