[package]
name = "libp2p-core"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"

[dependencies]
bs58 = "0.2.0"
bytes = "0.4"
fnv = "1.0"
log = "0.4"
multiaddr = { path = "../misc/multiaddr" }
multihash = { path = "../misc/multihash" }
multistream-select = { path = "../misc/multistream-select" }
futures = { version = "0.1", features = ["use_std"] }
parking_lot = "0.7"
protobuf = "2.0.2"
quick-error = "1.2"
rw-stream-sink = { path = "../misc/rw-stream-sink" }
smallvec = "0.6"
tokio-executor = "0.1.4"
tokio-io = "0.1"
tokio-timer = "0.2"
void = "1"

[dev-dependencies]
libp2p-ping = { path = "../protocols/ping" }
libp2p-tcp-transport = { path = "../transports/tcp" }
libp2p-mplex = { path = "../muxers/mplex" }
rand = "0.6"
tokio = "0.1"
tokio-codec = "0.1"
tokio-timer = "0.2"
assert_matches = "1.3"
tokio-mock-task = "0.1"
