[package]
name = "libp2p-core"
edition = "2018"
description = "Core traits and structs of libp2p"
version = "0.14.0-alpha.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
asn1_der = "0.6.1"
bs58 = "0.3.0"
ed25519-dalek = "1.0.0-pre.3"
fnv = "1.0"
futures = { version = "0.3.1", features = ["compat", "io-compat", "executor", "thread-pool"] }
futures-timer = "2"
lazy_static = "1.2"
libsecp256k1 = { version = "0.3.1", optional = true }
log = "0.4"
multiaddr = { package = "parity-multiaddr", version = "0.7.0", path = "../misc/multiaddr" }
multihash = { package = "parity-multihash", version = "0.2.1", path = "../misc/multihash" }
multistream-select = { version = "0.7.0", path = "../misc/multistream-select" }
parking_lot = "0.10.0"
pin-project = "0.4.6"
prost = "0.6.1"
rand = "0.7"
rw-stream-sink = { version = "0.2.0", path = "../misc/rw-stream-sink" }
sha2 = "0.8.0"
smallvec = "1.0"
thiserror = "1.0"
unsigned-varint = "0.3"
void = "1"
zeroize = "1"

[target.'cfg(not(any(target_os = "emscripten", target_os = "unknown")))'.dependencies]
ring = { version = "0.16.9", features = ["alloc", "std"], default-features = false }
untrusted = "0.7.0"

[dev-dependencies]
assert_matches = "1.3"
async-std = "1.0"
libp2p-mplex = { version = "0.14.0-alpha.1", path = "../muxers/mplex" }
libp2p-secio = { version = "0.14.0-alpha.1", path = "../protocols/secio" }
libp2p-swarm = { version = "0.4.0-alpha.1", path = "../swarm" }
libp2p-tcp = { version = "0.14.0-alpha.1", path = "../transports/tcp" }
quickcheck = "0.9.0"
wasm-timer = "0.2"

[build-dependencies]
prost-build = "0.6"

[features]
default = ["secp256k1"]
secp256k1 = ["libsecp256k1"]
