[package]
name = "libp2p-server"
version = "0.12.8"
authors = ["Max Inden <mail@max-inden.de>"]
edition = "2021"
repository = "https://github.com/libp2p/rust-libp2p"
rust-version = { workspace = true }
description = "A rust-libp2p server binary."
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.22"
clap = { version = "4.5.6", features = ["derive"] }
futures = { workspace = true }
futures-timer = "3"
axum = "0.7"
libp2p = { workspace = true, features = [
    "autonat",
    "dns",
    "tokio",
    "noise",
    "tcp",
    "yamux",
    "identify",
    "kad",
    "ping",
    "relay",
    "metrics",
    "rsa",
    "macros",
    "quic",
    "websocket",
] }
prometheus-client = { workspace = true }
serde = "1.0.203"
serde_derive = "1.0.125"
serde_json = "1.0"
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
zeroize = "1"

[lints]
workspace = true
