[package]
name = "libp2p-upnp"
edition = "2021"
rust-version = "1.60.0"
description = "UPnP support for libp2p transports"
version = "0.2.0"
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]
publish = true

[dependencies]
futures = "0.3.28"
futures-timer = "3.0.2"
igd-next = "0.14.2"
libp2p-core = { workspace = true }
libp2p-swarm = { workspace = true }
tokio = { version = "1.33", default-features = false, features = ["rt"], optional = true }
tracing = "0.1.37"
void = "1.0.2"

[features]
tokio = ["igd-next/aio_tokio", "dep:tokio"]

[lints]
workspace = true

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]
