[package]
name = "libp2p-ping"
edition = "2018"
description = "Ping protocol for libp2p"
version = "0.15.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
futures = "0.3.1"
libp2p-core = { version = "0.15.0", path = "../../core" }
libp2p-swarm = { version = "0.5.0", path = "../../swarm" }
log = "0.4.1"
rand = "0.7.2"
void = "1.0"
wasm-timer = "0.2"

[dev-dependencies]
async-std = "1.0"
libp2p-tcp = { version = "0.15.0", path = "../../transports/tcp" }
libp2p-secio = { version = "0.15.0", path = "../../protocols/secio" }
libp2p-yamux = { version = "0.15.0", path = "../../muxers/yamux" }
quickcheck = "0.9.0"
