[package]
name = "webtransport-tests"
version = "0.1.0"
edition = "2021"
license = "MIT"
publish = false

[package.metadata.release]
release = false

[dependencies]
futures = { workspace = true }
getrandom = { workspace = true, features = ["js"] }
libp2p-core = { workspace = true }
libp2p-identity = { workspace = true, features = ["rand"] }
libp2p-noise = { workspace = true }
libp2p-webtransport-websys = { workspace = true }
multiaddr = { workspace = true }
multihash = { workspace = true }
wasm-bindgen = "0.2.93"
wasm-bindgen-futures = "0.4.43"
wasm-bindgen-test = "0.3.43"
web-sys = { version = "0.3.70", features = ["Response", "Window"] }

[lints]
workspace = true
