[package]
name = "webtransport-tests"
version = "0.1.0"
edition.workspace = true
license = "MIT"
publish = false

[package.metadata.release]
release = false

[dependencies]
futures = { workspace = true }
getrandom = { workspace = true }
libp2p-core = { workspace = true }
libp2p-identity = { workspace = true, features = ["rand"] }
libp2p-noise = { workspace = true }
libp2p-webtransport-websys = { workspace = true }
multiaddr = { workspace = true }
multihash = { workspace = true }
rand = "0.9"
wasm-bindgen = "0.2.108"
wasm-bindgen-futures = "0.4.58"
wasm-bindgen-test = "0.3.58"
web-sys = { version = "0.3.85", features = ["Response", "Window"] }

[lints]
workspace = true
