[package]
name = "libp2p-pnet"
edition = "2021"
rust-version = "1.60.0"
description = "Private swarm support for libp2p"
version = "0.22.3"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
futures = "0.3.26"
log = "0.4.8"
salsa20 = "0.10"
sha3 = "0.10"
rand = "0.8"
pin-project = "1.0.2"

[dev-dependencies]
libp2p-core = { path = "../../core", features = ["rsa", "ecdsa", "secp256k1"] }
libp2p-identity = { path = "../../identity", features = ["ed25519"] }
libp2p-noise = { path = "../noise" }
libp2p-swarm = { path = "../../swarm", features = ["tokio"] }
libp2p-tcp = { path = "../tcp", features = ["tokio"] }
libp2p-websocket = { path = "../websocket" }
libp2p-yamux = { path = "../../muxers/yamux" }
quickcheck = { package = "quickcheck-ext", path = "../../misc/quickcheck-ext" }
tokio = { version = "1.21.1", features = ["full"] }

# Passing arguments to the docsrs builder in order to properly document cfg's. 
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]
