[package]
name = "libp2p-uds"
edition = "2021"
rust-version = { workspace = true }
description = "Unix domain sockets transport for libp2p"
version = "0.41.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
async-std = { version = "1.6.2", optional = true }
libp2p-core = { workspace = true }
futures = { workspace = true }
tokio = { workspace = true, default-features = false, features = ["net"], optional = true }
tracing = { workspace = true }

[dev-dependencies]
tempfile = "3.10"

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true

[lints]
workspace = true
