[package]
name = "libp2p-metrics"
edition = "2021"
rust-version = "1.56.1"
description = "Metrics for libp2p"
version = "0.6.1"
authors = ["Max Inden <mail@max-inden.de>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[features]
gossipsub = ["libp2p-gossipsub"]
identify = ["libp2p-identify"]
kad = ["libp2p-kad"]
ping = ["libp2p-ping"]
relay = ["libp2p-relay"]
dcutr = ["libp2p-dcutr"]

[dependencies]
libp2p-core = { version = "0.33.0", path = "../../core", default-features = false }
libp2p-dcutr =  { version = "0.3.0", path = "../../protocols/dcutr", optional = true }
libp2p-identify = { version = "0.36.0", path = "../../protocols/identify", optional = true }
libp2p-kad = { version = "0.37.0", path = "../../protocols/kad", optional = true }
libp2p-ping = { version = "0.36.0", path = "../../protocols/ping", optional = true }
libp2p-relay =  { version = "0.9.0", path = "../../protocols/relay", optional = true }
libp2p-swarm = { version = "0.36.0", path = "../../swarm" }
prometheus-client = "0.16.0"

[target.'cfg(not(target_os = "unknown"))'.dependencies]
libp2p-gossipsub =  { version = "0.38.0", path = "../../protocols/gossipsub", optional = true }

[dev-dependencies]
log = "0.4.0"
env_logger = "0.8.1"
futures = "0.3.1"
libp2p = { path = "../../", default-features = false, features = ["metrics", "ping", "tcp-async-io", "dns-async-std", "websocket", "noise", "mplex", "yamux"] }
hyper = { version="0.14", features = ["server", "tcp", "http1"] }
tokio = { version = "1", features = ["rt-multi-thread"] }
