[Unit]
Description=Set up network namespaces
After=network.target

[Service]
ExecStart=/usr/local/bin/setup-network.sh
Type=oneshot
RemainAfterExit=yes
FailureAction=exit

[Install]
WantedBy=multi-user.target
