[package]
name = "libp2p-kad"
edition = "2018"
description = "Kademlia protocol for libp2p"
version = "0.13.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
arrayvec = "0.5.1"
bytes = "0.4.12"
either = "1.5.3"
fnv = "1.0.6"
futures = "0.1.29"
log = "0.4.8"
libp2p-core = { version = "0.13.0", path = "../../core" }
libp2p-swarm = { version = "0.3.0", path = "../../swarm" }
multiaddr = { package = "parity-multiaddr", version = "0.6.0", path = "../../misc/multiaddr" }
multihash = { package = "parity-multihash", version = "0.2.0", path = "../../misc/multihash" }
protobuf = "2.8.1"
rand = "0.7.2"
sha2 = "0.8.0"
smallvec = "0.6.13"
tokio-codec = "0.1.1"
tokio-io = "0.1.12"
wasm-timer = "0.1.3"
uint = "0.8.2"
unsigned-varint = { version = "0.2.3", features = ["codec"] }
void = "1.0.2"

[dev-dependencies]
libp2p-secio = { version = "0.13.0", path = "../secio" }
libp2p-tcp = { version = "0.13.0", path = "../../transports/tcp" }
libp2p-yamux = { version = "0.13.0", path = "../../muxers/yamux" }
quickcheck = "0.9.0"
rand = "0.7.2"
tokio = "0.1.22"
