[package]
name = "fluence-fork-libp2p-kad"
edition = "2018"
description = "Kademlia protocol for libp2p"
version = "0.21.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[lib]
name = "libp2p_kad"

[dependencies]
arrayvec = "0.5.1"
bytes = "0.5"
either = "1.5"
fnv = "1.0"
futures_codec = "0.4"
futures = "0.3.1"
log = "0.4"
libp2p-core = { version = "0.20.0", path = "../../core", package = "fluence-fork-libp2p-core" }
libp2p-swarm = { version = "0.20.0", path = "../../swarm", package = "fluence-fork-libp2p-swarm" }
multihash = "0.11.0"
prost = "0.6.1"
rand = "0.7.2"
sha2 = "0.8.0"
smallvec = "1.0"
wasm-timer = "0.2"
uint = "0.8"
unsigned-varint = { version = "0.4", features = ["futures-codec"] }
void = "1.0"
bs58 = "0.3.0"
derivative = "2.0.2"

trust-graph = "0.1.0"
prometheus = "0.9.0"

[dev-dependencies]
futures-timer = "3.0"
libp2p-secio = { path = "../secio", package = "fluence-fork-libp2p-secio" }
libp2p-yamux = { path = "../../muxers/yamux", package = "fluence-fork-libp2p-yamux" }
quickcheck = "0.9.0"
env_logger = "0.7.1"

[build-dependencies]
prost-build = "0.6"


[package.metadata.workspaces]
independent = true
