[package]
name = "libp2p-swarm-test"
version = "0.1.0"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.57"
libp2p = { path = "..", default-features = false, features = ["noise", "yamux"] }
futures = "0.3.24"
log = "0.4.17"
rand = "0.8.5"
futures-timer = "3.0.2"
