[package]
name = "libp2p-secio"
edition = "2018"
description = "Secio encryption protocol for libp2p"
version = "0.12.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
bytes = "0.4"
futures = "0.1"
libp2p-core = { version = "0.12.0", path = "../../core" }
log = "0.4.6"
protobuf = "2.3"
rand = "0.6.5"
aes-ctr = "0.3"
aesni = { version = "0.6", features = ["nocheck"], optional = true }
twofish = "0.2.0"
ctr = "0.3"
lazy_static = "1.2.0"
rw-stream-sink = { version = "0.1.1", path = "../../misc/rw-stream-sink" }
tokio-io = "0.1.0"
sha2 = "0.8.0"
hmac = "0.7.0"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
ring = { version = "0.14", features = ["use_heap"], default-features = false }
untrusted = { version = "0.6" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = "0.3.10"
parity-send-wrapper = "0.1"
wasm-bindgen = "0.2.33"
wasm-bindgen-futures = "0.3.10"
web-sys = { version = "0.3.10", features = ["Crypto", "CryptoKey", "SubtleCrypto", "Window"] }

[features]
default = ["secp256k1"]
secp256k1 = []
aes-all = ["aesni"]

[dev-dependencies]
criterion = "0.2"
libp2p-tcp = { version = "0.12.0", path = "../../transports/tcp" }
libp2p-mplex = { version = "0.12.0", path = "../../muxers/mplex" }
tokio = "0.1"
tokio-tcp = "0.1"

[[bench]]
name = "bench"
harness = false
