[package]
name = "libp2p-secio"
edition = "2018"
description = "Secio encryption protocol for libp2p"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
asn1_der = "0.5"
bytes = "0.4"
futures = "0.1"
libp2p-core = { version = "0.1.0", path = "../../core" }
log = "0.4.1"
protobuf = "2.0.2"
rand = "0.6"
secp256k1 = { version = "0.12", features = ["rand"], optional = true }
aes-ctr = "0.1.0"
aesni = { version = "0.4.1", features = ["nocheck"], optional = true }
twofish = "0.1.0"
ctr = "0.1"
lazy_static = { version = "1.2.0", optional = true }
rw-stream-sink = { version = "0.1.0", path = "../../misc/rw-stream-sink" }
tokio-io = "0.1.0"
sha2 = "0.7.1"
ed25519-dalek = "0.8.0"
hmac = "0.6.3"

[target.'cfg(not(any(target_os = "emscripten", target_os = "unknown")))'.dependencies]
ring = { version = "0.13", default-features = false }
untrusted = { version = "0.6" }

[target.'cfg(any(target_os = "emscripten", target_os = "unknown"))'.dependencies]
stdweb = { version = "0.4", default-features = false }

[features]
default = ["rsa", "secp256k1"]
rsa = ["ring/rsa_signing"]
aes-all = ["aesni", "lazy_static"]

[dev-dependencies]
libp2p-tcp = { version = "0.1.0", path = "../../transports/tcp" }
tokio = "0.1"
tokio-tcp = "0.1"
