[package]
authors = ["Doug Anderson <DougAnderson444@peerpiper.io>"]
categories = ["asynchronous", "network-programming", "wasm", "web-programming"]
description = "WebRTC for libp2p under WASM environment"
edition = "2021"
keywords = ["libp2p", "networking", "peer-to-peer"]
license = "MIT"
name = "libp2p-webrtc-websys"
repository = "https://github.com/libp2p/rust-libp2p"
rust-version = { workspace = true }
version = "0.1.0-alpha"
publish = true

[dependencies]
bytes = "1"
futures = "0.3"
futures-timer = "3"
getrandom = { version = "0.2.9", features = ["js"] }
hex = "0.4.3"
js-sys = { version = "0.3" }
libp2p-core = { workspace = true }
libp2p-identity = { workspace = true }
libp2p-noise = { workspace = true }
libp2p-webrtc-utils = { workspace = true }
log = "0.4.19"
send_wrapper = { version = "0.6.0", features = ["futures"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1"
wasm-bindgen = { version = "0.2.87" }
wasm-bindgen-futures = { version = "0.4.37" }
web-sys = { version = "0.3.64", features = ["Document", "Location", "MessageEvent", "Navigator", "RtcCertificate", "RtcConfiguration", "RtcDataChannel", "RtcDataChannelEvent", "RtcDataChannelInit", "RtcDataChannelState", "RtcDataChannelType", "RtcPeerConnection", "RtcSdpType", "RtcSessionDescription", "RtcSessionDescriptionInit", "Window"] }

[dev-dependencies]
hex-literal = "0.4"
libp2p-ping = { workspace = true }
libp2p-swarm = { workspace = true, features = ["wasm-bindgen"] }

[lints]
workspace = true
