[package]
name = "rendezvous-example"
version = "0.1.0"
edition = "2021"
publish = false
license = "MIT"

[dependencies]
async-std = { version = "1.12", features = ["attributes"] }
async-trait = "0.1"
env_logger = "0.10.0"
futures = "0.3.28"
libp2p = { path = "../../libp2p", features = [
    "async-std",
    "identify",
    "macros",
    "noise",
    "ping",
    "rendezvous",
    "tcp",
    "tokio",
    "yamux",
] }
log = "0.4"
tokio = { version = "1.32", features = ["rt-multi-thread", "macros", "time"] }

[lints]
workspace = true
