[package]
name = "libp2p-quic"
version = "0.14.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition.workspace = true
rust-version = { workspace = true }
description = "TLS based QUIC transport implementation for libp2p"
repository = "https://github.com/libp2p/rust-libp2p"
license = "MIT"

[dependencies]
futures = { workspace = true }
futures-timer = "3.0.3"
if-watch = { workspace = true }
libp2p-core = { workspace = true }
libp2p-tls = { workspace = true }
libp2p-identity = { workspace = true }
quinn = { version = "0.11.6", default-features = false, features = ["rustls", "futures-io"] }
rand = "0.8.5"
rustls = { version = "0.23.9", default-features = false }
thiserror = { workspace = true }
tokio = { workspace = true, default-features = false, features = ["net", "rt", "time"], optional = true }
tracing = { workspace = true }
socket2 = "0.6.0"
ring = { workspace = true }

[features]
tokio = ["dep:tokio", "if-watch/tokio", "quinn/runtime-tokio"]

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true

[dev-dependencies]
libp2p-identity = { workspace = true, features = ["rand"] }
libp2p-muxer-test-harness = { path = "../../muxers/test-harness" }
libp2p-noise = { workspace = true }
libp2p-tcp = { workspace = true, features = ["tokio"] }
libp2p-yamux = { workspace = true }
quickcheck = "1"
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "time"] }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[[test]]
name = "stream_compliance"
required-features = ["tokio"]

[lints]
workspace = true
