[package]
name = "libp2p-quic"
version = "0.7.0-alpha.3"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"
rust-version = "1.62.0"
description = "TLS based QUIC transport implementation for libp2p"
repository = "https://github.com/libp2p/rust-libp2p"
license = "MIT"

[dependencies]
async-std = { version = "1.12.0", optional = true }
bytes = "1.4.0"
futures = "0.3.28"
futures-timer = "3.0.2"
if-watch = "3.0.0"
libp2p-core = { version = "0.39.0", path = "../../core" }
libp2p-tls = { version = "0.1.0", path = "../tls" }
libp2p-identity = { version = "0.1.0", path = "../../identity" }
log = "0.4"
parking_lot = "0.12.0"
quinn-proto = { version = "0.9.3", default-features = false, features = ["tls-rustls"] }
rand = "0.8.5"
rustls = { version = "0.20.2", default-features = false }
thiserror = "1.0.40"
tokio = { version = "1.27.0", default-features = false, features = ["net", "rt"], optional = true }

[features]
tokio = ["dep:tokio", "if-watch/tokio"]
async-std = ["dep:async-std", "if-watch/smol"]

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]

[dev-dependencies]
async-std = { version = "1.12.0", features = ["attributes"] }
env_logger = "0.10.0"
libp2p-muxer-test-harness = { path = "../../muxers/test-harness" }
libp2p-noise = { path = "../noise" }
libp2p-tcp = { path = "../tcp", features = ["async-io"] }
libp2p-yamux = { path = "../../muxers/yamux" }
quickcheck = "1"
tokio = { version = "1.27.0", features = ["macros", "rt-multi-thread", "time"] }

[[test]]
name = "stream_compliance"
required-features = ["async-std"]
