[package]
name = "libp2p-rendezvous"
edition = "2021"
rust-version = "1.56.1"
description = "Rendezvous protocol for libp2p"
version = "0.6.0"
authors = ["The COMIT guys <hello@comit.network>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
asynchronous-codec = "0.6"
libp2p-core = { version = "0.33.0", path = "../../core", default-features = false }
libp2p-swarm = { version = "0.36.0", path = "../../swarm" }
prost = "0.10"
void = "1"
log = "0.4"
futures = { version = "0.3", default-features = false, features = ["std"] }
thiserror = "1"
unsigned-varint = { version = "0.7", features = ["asynchronous_codec"] }
bimap = "0.6.1"
sha2 = "0.10"
rand = "0.8"
futures-timer = "3.0.2"
instant = "0.1.11"

[dev-dependencies]
async-trait = "0.1"
env_logger = "0.8"
libp2p = { path = "../..", default-features = false, features = ["ping", "identify", "tcp-async-io", "dns-async-std", "websocket", "noise", "mplex", "yamux", "rendezvous"] }
rand = "0.8"
tokio = { version = "1.15", features = [ "rt-multi-thread", "time", "macros", "sync", "process", "fs", "net" ] }

[build-dependencies]
prost-build = "0.10"
