[package]
name = "libp2p-rendezvous"
edition = "2021"
rust-version = "1.62.0"
description = "Rendezvous protocol for libp2p"
version = "0.12.0"
authors = ["The COMIT guys <hello@comit.network>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
asynchronous-codec = "0.6"
bimap = "0.6.1"
futures = { version = "0.3", default-features = false, features = ["std"] }
futures-timer = "3.0.2"
instant = "0.1.11"
libp2p-core = { version = "0.39.0", path = "../../core" }
libp2p-swarm = { version = "0.42.0", path = "../../swarm" }
log = "0.4"
prost = "0.11"
prost-codec = { version = "0.3.0", path = "../../misc/prost-codec" }
rand = "0.8"
thiserror = "1"
void = "1"

[dev-dependencies]
async-trait = "0.1"
env_logger = "0.10.0"
libp2p-swarm = { path = "../../swarm", features = ["macros", "tokio"] }
libp2p-mplex = { path = "../../muxers/mplex" }
libp2p-noise = { path = "../../transports/noise" }
libp2p-ping = { path = "../ping" }
libp2p-identify = { path = "../identify" }
libp2p-yamux = { path = "../../muxers/yamux" }
libp2p-tcp = { path = "../../transports/tcp", features = ["tokio"] }
rand = "0.8"
tokio = { version = "1.15", features = [ "rt-multi-thread", "time", "macros", "sync", "process", "fs", "net" ] }

[build-dependencies]
prost-build = "0.11"

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]
