[package]
name = "libp2p-webrtc"
version = "0.6.1-alpha"
authors = ["Parity Technologies <admin@parity.io>"]
description = "WebRTC transport for libp2p"
repository = "https://github.com/libp2p/rust-libp2p"
license = "MIT"
edition = "2021"
rust-version = { workspace = true }
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
async-trait = "0.1"
bytes = "1"
futures = "0.3"
futures-timer = "3"
hex = "0.4"
if-watch = "3.0"
libp2p-core = { workspace = true }
libp2p-noise = { workspace = true }
libp2p-identity = { workspace = true }
libp2p-webrtc-utils = { workspace = true }
log = "0.4"
multihash = { workspace = true }
rand = "0.8"
rcgen = "0.11.1"
serde = { version = "1.0", features = ["derive"] }
stun = "0.5"
thiserror = "1"
tinytemplate = "1.2"
tokio = { version = "1.33", features = ["net"], optional = true }
tokio-util = { version = "0.7", features = ["compat"], optional = true }
webrtc = { version = "0.9.0", optional = true }

[features]
tokio = ["dep:tokio", "dep:tokio-util", "dep:webrtc", "if-watch/tokio"]
pem = ["webrtc?/pem"]

[dev-dependencies]
env_logger = "0.10"
tokio = { version = "1.33", features = ["full"] }
quickcheck = "1.0.3"

[[test]]
name = "smoke"
required-features = ["tokio"]

[lints]
workspace = true

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]
