[package]
name = "libp2p-webrtc"
version = "0.9.0-alpha"
authors = ["Parity Technologies <admin@parity.io>"]
description = "WebRTC transport for libp2p"
repository = "https://github.com/libp2p/rust-libp2p"
license = "MIT"
edition = "2021"
rust-version = { workspace = true }
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
async-trait = "0.1"
futures = { workspace = true }
futures-timer = "3"
hex = "0.4"
if-watch = { workspace = true }
libp2p-core = { workspace = true }
libp2p-noise = { workspace = true }
libp2p-identity = { workspace = true }
libp2p-webrtc-utils = { workspace = true }
multihash = { workspace = true }
rand = "0.8"
rcgen = { workspace = true }
stun = "0.7"
thiserror = { workspace = true }
tokio = { workspace = true, features = ["net"], optional = true }
tokio-util = { version = "0.7", features = ["compat"], optional = true }
tracing = { workspace = true }
webrtc = { version = "0.9.0", optional = true }
webrtc-ice = "=0.10.0" # smoke tests only work with this version

[features]
tokio = ["dep:tokio", "dep:tokio-util", "dep:webrtc", "if-watch/tokio"]
pem = ["webrtc?/pem"]

[dev-dependencies]
libp2p-identity = { workspace = true, features = ["rand"] }
tokio = { workspace = true, features = ["full"] }
quickcheck = "1.0.3"
tracing-subscriber = { workspace = true, features = ["env-filter"] }


[[test]]
name = "smoke"
required-features = ["tokio"]

[lints]
workspace = true

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
