[package]
name = "fluence-fork-libp2p-floodsub"
edition = "2018"
description = "Floodsub protocol for libp2p"
version = "0.26.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[lib]
name = "libp2p_floodsub"

[dependencies]
cuckoofilter = "0.5.0"
fnv = "1.0"
futures = "0.3.1"
libp2p-core = { version = "0.26.1", path = "../../core", package = "fluence-fork-libp2p-core" }
libp2p-swarm = { version = "0.26.1", path = "../../swarm", package = "fluence-fork-libp2p-swarm" }
log = "0.4"
prost = "0.6.1"
rand = "0.7"
smallvec = "1.0"

[build-dependencies]
prost-build = "0.6"


[package.metadata.workspaces]
independent = true
