[package]
name = "libp2p-tcp"
edition = "2018"
description = "TCP/IP transport protocol for libp2p"
version = "0.25.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
async-io = "1.2.0"
futures = "0.3.8"
if-watch = "0.1.4"
libc = "0.2.80"
libp2p-core = { version = "0.25.0", path = "../../core" }
log = "0.4.11"
socket2 = { version = "0.3.17", features = ["reuseport"] }

[dev-dependencies]
async-std = { version = "1.7.0", features = ["attributes"] }
env_logger = "0.8.2"
