[package]
name = "libp2p-tcp"
edition = "2021"
rust-version = { workspace = true }
description = "TCP/IP transport protocol for libp2p"
version = "0.40.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
async-io = { version = "1.13.0", optional = true }
futures = "0.3.28"
futures-timer = "3.0"
if-watch = "3.1.0"
libc = "0.2.149"
libp2p-core = { workspace = true }
libp2p-identity = { workspace = true }
socket2 = { version = "0.5.4", features = ["all"] }
tokio = { version = "1.33.0", default-features = false, features = ["net"], optional = true }
tracing = "0.1.37"

[features]
tokio = ["dep:tokio", "if-watch/tokio"]
async-io = ["dep:async-io", "if-watch/smol"]

[dev-dependencies]
async-std = { version = "1.6.5", features = ["attributes"] }
tokio = { version = "1.33.0", default-features = false, features = ["full"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true

rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]

[lints]
workspace = true
