[package]
name = "libp2p-autonat"
edition = "2021"
rust-version = "1.62.0"
description = "NAT and firewall detection for libp2p"
version = "0.10.2"
authors = ["David Craven <david@craven.ch>", "Elena Frank <elena.frank@protonmail.com>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
async-trait = "0.1"
futures = "0.3"
futures-timer = "3.0"
instant = "0.1"
libp2p-core = { version = "0.39.0", path = "../../core" }
libp2p-swarm = { version = "0.42.1", path = "../../swarm" }
libp2p-request-response = { version = "0.24.0", path = "../request-response" }
libp2p-identity = { version = "0.1.0", path = "../../identity" }
log = "0.4"
rand = "0.8"
quick-protobuf = "0.8"

[dev-dependencies]
async-std = { version = "1.10", features = ["attributes"] }
env_logger = "0.10"
libp2p-swarm-test = { path = "../../swarm-test" }

# Passing arguments to the docsrs builder in order to properly document cfg's.
# More information: https://docs.rs/about/builds#cross-compiling
[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]
