[package]
name = "keygen"
version = "0.1.0"
edition = "2021"
authors = ["demfabris <demfabris@gmail.com>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]
publish = false

[package.metadata.release]
release = false

[dependencies]
clap = { version = "4.5.6", features = ["derive"] }
zeroize = "1"
serde = { version = "1.0.203", features = ["derive"] }
serde_json = "1.0.117"
libp2p-core = { workspace = true }
base64 = "0.22.1"
libp2p-identity = { workspace = true }

[lints]
workspace = true
