[package]
name = "keygen"
version = "0.1.0"
edition = "2021"
authors = ["demfabris <demfabris@gmail.com>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]
publish = false

[dependencies]
clap = { version = "4.0.13", features = ["derive"] }
zeroize = "1"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.93"
libp2p-core = { version = "0.39.0", path = "../../core" }
base64 = "0.20.0"
