[package]
name = "upnp-example"
version = "0.1.0"
edition = "2021"
publish = false
license = "MIT"

[package.metadata.release]
release = false

[dependencies]
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
futures = { workspace = true }
libp2p = { path = "../../libp2p", features = ["tokio", "dns", "macros", "noise", "ping", "tcp", "yamux", "upnp"] }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[lints]
workspace = true
