[package]
name = "ipfs-kad-example"
version = "0.1.0"
edition = "2021"
publish = false
license = "MIT"

[package.metadata.release]
release = false

[dependencies]
tokio = { version = "1.33", features = ["rt-multi-thread", "macros"] }
async-trait = "0.1"
clap = { version = "4.4.8", features = ["derive"] }
env_logger = "0.10"
futures = "0.3.29"
anyhow = "1.0.75"
libp2p = { path = "../../libp2p", features = [ "tokio", "dns", "kad", "noise", "tcp", "yamux", "rsa"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[lints]
workspace = true
