[package]
name = "ipfs-kad-example"
version = "0.1.0"
edition = "2021"
publish = false
license = "MIT"

[dependencies]
tokio = { version = "1.12", features = ["rt-multi-thread", "macros"] }
async-trait = "0.1"
clap = { version = "4.3.23", features = ["derive"] }
env_logger = "0.10"
futures = "0.3.28"
anyhow = "1.0.75"
libp2p = { path = "../../libp2p", features = [ "tokio", "dns", "kad", "noise", "tcp", "websocket", "yamux", "rsa"] }

[lints]
workspace = true
