[package]
name = "ipfs-kad-example"
version = "0.1.0"
edition = "2021"
publish = false
license = "MIT"

[package.metadata.release]
release = false

[dependencies]
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
async-trait = "0.1"
clap = { version = "4.5.6", features = ["derive"] }
env_logger = "0.10"
futures = { workspace = true }
anyhow = "1.0.86"
libp2p = { path = "../../libp2p", features = [ "tokio", "dns", "kad", "noise", "tcp", "yamux", "rsa"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[lints]
workspace = true
