[package]
name = "libp2p-webrtc-utils"
version = "0.1.0"
edition = "2021"
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1"
quick-protobuf = "0.8"
quick-protobuf-codec = { workspace = true }
