[package]
name = "libp2p-websocket"
edition = "2018"
description = "WebSocket transport for libp2p"
version = "0.19.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
async-tls = "0.7.0"
either = "1.5.3"
futures = "0.3.1"
libp2p-core = { version = "0.19.0", path = "../../core" }
log = "0.4.8"
quicksink = "0.1"
rustls = "0.17.0"
rw-stream-sink = "0.2.0"
soketto = { version = "0.4", features = ["deflate"] }
url = "2.1"
webpki = "0.21"
webpki-roots = "0.18"

[dev-dependencies]
libp2p-tcp = { version = "0.19.0", path = "../tcp", features = ["async-std"] }
