[package]
name = "libp2p-websocket"
edition = "2018"
description = "WebSocket transport for libp2p"
version = "0.7.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
libp2p-core = { version = "0.7.0", path = "../../core" }
futures = "0.1"
log = "0.4.1"
rw-stream-sink = { version = "0.1.1", path = "../../misc/rw-stream-sink" }
tokio-io = "0.1"

[target.'cfg(not(any(target_os = "emscripten", target_os = "unknown")))'.dependencies]
websocket = { version = "0.22.2", default-features = false, features = ["async", "async-ssl"] }

[target.'cfg(any(target_os = "emscripten", target_os = "unknown"))'.dependencies]
bytes = "0.4"
stdweb = { version = "0.4", default-features = false }
wasm-bindgen = "0.2.42"

[target.'cfg(not(any(target_os = "emscripten", target_os = "unknown")))'.dev-dependencies]
libp2p-tcp = { version = "0.7.0", path = "../tcp" }
tokio = "0.1"
