[package]
name = "libp2p-websocket"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"

[dependencies]
libp2p-core = { path = "../../core" }
futures = "0.1"
multiaddr = { path = "../../misc/multiaddr" }
log = "0.4.1"
rw-stream-sink = { path = "../../misc/rw-stream-sink" }
tokio-io = "0.1"

[target.'cfg(not(target_os = "emscripten"))'.dependencies]
# TODO: restore the upstream version once the branch is merged
websocket = { git = "https://github.com/tomaka/rust-websocket", branch = "send", default-features = false, features = ["async", "async-ssl"] }
#websocket = { version = "0.20.2", default-features = false, features = ["async", "async-ssl"] }

[target.'cfg(target_os = "emscripten")'.dependencies]
stdweb = { version = "0.1.3", default-features = false }

[target.'cfg(not(target_os = "emscripten"))'.dev-dependencies]
libp2p-tcp-transport = { path = "../tcp" }
tokio-current-thread = "0.1"
