[package]
name = "libp2p-websocket"
edition = "2018"
description = "WebSocket transport for libp2p"
version = "0.30.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
repository = "https://github.com/libp2p/rust-libp2p"
keywords = ["peer-to-peer", "libp2p", "networking"]
categories = ["network-programming", "asynchronous"]

[dependencies]
futures-rustls = "0.21"
either = "1.5.3"
futures = "0.3.1"
libp2p-core = { version = "0.29.0", path = "../../core" }
log = "0.4.8"
quicksink = "0.1"
rw-stream-sink = "0.2.0"
soketto = { version = "0.6.0", features = ["deflate"] }
url = "2.1"
webpki-roots = "0.21"

[dev-dependencies]
libp2p-tcp = { path = "../tcp" }
