# This workflow _produces_ a cache that is used to speed up pull request builds.
#
# Our CI runs a job per crate, meaning all jobs share compilation artifacts but never the full cache.
# Thus, we make a single cache here that is used by all jobs and the jobs only read from this cache.

name: Cache factory

on:
  push:
    branches:
      - master # Caches are only created on master branch.

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  make_stable_rust_cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          shared-key: stable-cache

      - name: Compile workspace with stable Rust
        run: cargo test --all-features --all-targets --workspace --no-run
