name: Continuous integration

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2 # Fail cache download after 2 minutes.

jobs:
  test:
    name: Test ${{ matrix.crate }}
    runs-on: ${{ fromJSON(
      github.repository == 'libp2p/rust-libp2p' && (
        (contains(fromJSON('["libp2p-webrtc", "libp2p"]'), matrix.crate) && '["self-hosted", "linux", "x64", "2xlarge"]') ||
        (contains(fromJSON('["libp2p-quic", "libp2p-perf"]'), matrix.crate) && '["self-hosted", "linux", "x64", "xlarge"]') ||
        '["self-hosted", "linux", "x64", "large"]'
      ) || '"ubuntu-latest"') }}
    timeout-minutes: 10
    needs: gather_published_crates
    strategy:
      fail-fast: false
      matrix:
        crate: ${{ fromJSON(needs.gather_published_crates.outputs.members) }}
    env:
      CRATE: ${{ matrix.crate }}
    steps:
      - uses: actions/checkout@v3

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@060bda31e0be4f453bb6ed2d7e5427b31734ad01 # v2.3.0
        with:
          shared-key: stable-cache
          save-if: false

      - name: Run all tests
        run: cargo test --package "$CRATE" --all-features

      - name: Check if we compile without any features activated
        run: cargo build --package "$CRATE" --no-default-features

      - run: cargo clean

      - name: Check if crate has been released
        id: check-released
        run: |
          RESPONSE_CODE=$(curl https://crates.io/api/v1/crates/"$CRATE" --silent --write-out "%{http_code}" --output /dev/null)
          echo "code=${RESPONSE_CODE}"
          echo "code=${RESPONSE_CODE}" >> $GITHUB_OUTPUT

      - uses: ./.github/actions/cargo-semver-checks
        if: steps.check-released.outputs.code == 200 # Workaround until https://github.com/obi1kenobi/cargo-semver-check/issues/146 is shipped.
        with:
          crate: env.CRATE

      - name: Enforce no dependency on meta crate
        run: |
          cargo metadata --format-version=1 --no-deps | \
          jq -e -r '.packages[] | select(.name == "'"$CRATE"'") | .dependencies | all(.name != "libp2p")'

      - uses: taiki-e/cache-cargo-install-action@924d49e0af41f449f0ad549559bc608ee4653562 # v1
        with:
          tool: tomlq

      - name: Enforce version in `workspace.dependencies` matches latest version
        if: env.CRATE != 'libp2p'
        run: |
          PACKAGE_VERSION=$(cargo metadata --format-version=1 --no-deps | jq -e -r '.packages[] | select(.name == "'"$CRATE"'") | .version')
          SPECIFIED_VERSION=$(tomlq "workspace.dependencies.$CRATE.version" --file ./Cargo.toml)
          
          echo "Package version: $PACKAGE_VERSION";
          echo "Specified version: $SPECIFIED_VERSION";

          test "$PACKAGE_VERSION" = "$SPECIFIED_VERSION"

  cross:
    name: Compile on ${{ matrix.target }}
    strategy:
      matrix:
        include:
          - target: "wasm32-unknown-unknown"
            os: ubuntu-latest
          - target: "wasm32-unknown-emscripten"
            os: ubuntu-latest
          - target: "wasm32-wasi"
            os: ubuntu-latest
          - target: "x86_64-apple-darwin"
            os: macos-latest
          - target: "x86_64-pc-windows-msvc"
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable
        with:
          target: ${{ matrix.target }}

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - uses: Swatinem/rust-cache@060bda31e0be4f453bb6ed2d7e5427b31734ad01 # v2.3.0
        with:
          key: ${{ matrix.target }}
          save-if: ${{ github.ref == 'refs/heads/master' }}

      - run: cargo check --package libp2p --all-features --target=${{ matrix.target }}

  msrv:
    name: Compile with MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Extract MSRV from workspace manifest
        shell: bash
        run: |
          MSRV=$(grep -oP 'rust-version\s*=\s*"\K[^"]+' Cargo.toml)
          echo "MSRV=$MSRV" >> $GITHUB_ENV

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.MSRV }}

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - uses: Swatinem/rust-cache@060bda31e0be4f453bb6ed2d7e5427b31734ad01 # v2.3.0
        with:
          save-if: ${{ github.ref == 'refs/heads/master' }}

      - run: cargo +$MSRV check --workspace --all-features

  feature_matrix: # Test various feature combinations work correctly
    name: Compile with select features (${{ matrix.features }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - features: "mdns tcp dns tokio"
          - features: "mdns tcp dns async-std"
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - uses: Swatinem/rust-cache@060bda31e0be4f453bb6ed2d7e5427b31734ad01 # v2.3.0
        with:
          key: ${{ matrix.features }}
          save-if: ${{ github.ref == 'refs/heads/master' }}

      - run: cargo check --package libp2p --features="${{ matrix.features }}"

  check-rustdoc-links:
    name: Check rustdoc intra-doc links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - uses: Swatinem/rust-cache@060bda31e0be4f453bb6ed2d7e5427b31734ad01 # v2.3.0
        with:
          save-if: ${{ github.ref == 'refs/heads/master' }}

      - name: Check rustdoc links
        run: RUSTDOCFLAGS="--deny rustdoc::broken_intra_doc_links --deny warnings" cargo doc --verbose --workspace --no-deps --all-features --document-private-items

  clippy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust-version: [
          1.69.0, # current stable
          beta
        ]
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust-version }}
          components: clippy

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - uses: Swatinem/rust-cache@060bda31e0be4f453bb6ed2d7e5427b31734ad01 # v2.3.0
        with:
          save-if: ${{ github.ref == 'refs/heads/master' }}

      - name: Run cargo clippy
        run: cargo custom-clippy # cargo alias to allow reuse of config locally

  ipfs-integration-test:
    name: IPFS Integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - uses: Swatinem/rust-cache@060bda31e0be4f453bb6ed2d7e5427b31734ad01 # v2.3.0
        with:
          save-if: ${{ github.ref == 'refs/heads/master' }}

      - name: Run ipfs-kad example
        run: cd ./examples/ipfs-kad/ && RUST_LOG=libp2p_swarm=debug,libp2p_kad=trace,libp2p_tcp=debug cargo run

  examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - uses: Swatinem/rust-cache@060bda31e0be4f453bb6ed2d7e5427b31734ad01 # v2.3.0
        with:
          shared-key: stable-cache
          save-if: false

      - name: Compile all examples
        run: |
          set -e;

          for toml in examples/**/Cargo.toml; do
            cargo check --manifest-path "$toml";
          done

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - name: Check formatting
        run: cargo fmt -- --check

  manifest_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - name: Ensure `full` feature contains all features
        run: |
          ALL_FEATURES=$(cargo metadata --format-version=1 --no-deps | jq -r '.packages[] | select(.name == "libp2p") | .features | keys | map(select(. != "full")) | sort | join(" ")')
          FULL_FEATURE=$(cargo metadata --format-version=1 --no-deps | jq -r '.packages[] | select(.name == "libp2p") | .features["full"] | sort | join(" ")')

          test "$ALL_FEATURES = $FULL_FEATURE"

          echo "$ALL_FEATURES";
          echo "$FULL_FEATURE";

          test "$ALL_FEATURES" = "$FULL_FEATURE"

  gather_published_crates:
    runs-on: ubuntu-latest
    outputs:
      members: ${{ steps.cargo-metadata.outputs.members }}
    steps:
      - uses: actions/checkout@v3

      - id: cargo-metadata
        run: |
          WORKSPACE_MEMBERS=$(cargo metadata --format-version=1 --no-deps | jq -c '.packages | map(select(.publish == null) | .name)')
          echo "members=${WORKSPACE_MEMBERS}" >> $GITHUB_OUTPUT

  check-proto-files:
    name: Check for changes in proto files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@060bda31e0be4f453bb6ed2d7e5427b31734ad01 # v2.3.0

      - run: cargo install --version 0.10.0 pb-rs --locked

      - name: Glob match
        uses: tj-actions/glob@v17
        id: glob
        with:
          files: |
            **/generated/*.proto

      - name: Generate proto files
        run: pb-rs --dont_use_cow ${{ steps.glob.outputs.paths }}

      - name: Ensure generated files are unmodified # https://stackoverflow.com/a/5737794
        run: |
            git_status=$(git status --porcelain)

            echo $git_status
            test -z "$git_status"

  ensure-lockfile-uptodate:
    name: Ensure that `Cargo.lock` is up-to-date
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@060bda31e0be4f453bb6ed2d7e5427b31734ad01 # v2.3.0
      - run: cargo metadata --locked --format-version=1 > /dev/null
