name: Interoperability Testing
on:
  pull_request:
  push:
    branches:
      - "master"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-transport-interop:
    name: Run transport interoperability tests
    runs-on: ${{ fromJSON(github.repository == 'libp2p/rust-libp2p' && '["self-hosted", "linux", "x64", "4xlarge"]' || '"ubuntu-latest"') }}
    strategy:
      matrix:
        flavour: [chromium, native]
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Build ${{ matrix.flavour }} image
        run: ./scripts/build-interop-image.sh
        env:
          AWS_ACCESS_KEY_ID: ${{ vars.TEST_PLANS_BUILD_CACHE_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.TEST_PLANS_BUILD_CACHE_KEY }}
          FLAVOUR: ${{ matrix.flavour }}

      - name: Run ${{ matrix.flavour }} tests
        uses: libp2p/test-plans/.github/actions/run-transport-interop-test@master
        with:
          test-filter: ${{ matrix.flavour }}-rust-libp2p-head
          extra-versions: ${{ github.workspace }}/interop-tests/${{ matrix.flavour }}-ping-version.json
          s3-cache-bucket: libp2p-by-tf-aws-bootstrap
          s3-access-key-id: ${{ vars.TEST_PLANS_BUILD_CACHE_KEY_ID }}
          s3-secret-access-key: ${{ secrets.TEST_PLANS_BUILD_CACHE_KEY }}
          worker-count: 16
  run-holepunching-interop:
    name: Run hole-punch interoperability tests
    runs-on: ${{ fromJSON(github.repository == 'libp2p/rust-libp2p' && '["self-hosted", "linux", "x64", "4xlarge"]' || '"ubuntu-latest"') }}
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Build image
        run: docker buildx build --load -t rust-libp2p-head . -f hole-punching-tests/Dockerfile
      - name: Run tests
        uses: thomaseizinger/test-plans/.github/actions/run-interop-hole-punch-test@feat/hole-punch-tests
        with:
          test-filter: rust-libp2p-head
          extra-versions: ${{ github.workspace }}/hole-punching-tests/version.json
          s3-cache-bucket: libp2p-by-tf-aws-bootstrap
          s3-access-key-id: ${{ vars.TEST_PLANS_BUILD_CACHE_KEY_ID }}
          s3-secret-access-key: ${{ secrets.TEST_PLANS_BUILD_CACHE_KEY }}
          worker-count: 1
